<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SoftTopics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SoftTopics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="DataServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=softwarecapproject.database.windows.net;Database=VideoStoreUsers;User ID = bcrumrin64; Password=S0ftT0pix!; Encrypt=True; TrustServerCertificate=False; Connection Timeout=30;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SoftTopics.Properties.Settings>
            <setting name="temporaryFilePath" serializeAs="String">
                <value>..\\Files\\Temp.txt</value>
            </setting>
            <setting name="twoFactorSetupPath" serializeAs="String">
                <value>..\\Files\\TwoFactorSetup.txt</value>
            </setting>
        </SoftTopics.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SoftTopics.Properties.Settings>
            <setting name="movieListPath" serializeAs="String">
                <value>..\\Files\\MovieList.txt</value>
            </setting>
            <setting name="overDuePath" serializeAs="String">
                <value>..\\Files\\OverDue.txt</value>
            </setting>
            <setting name="rentalReportPath" serializeAs="String">
                <value>..\\Files\\RentalReport.txt</value>
            </setting>
            <setting name="tempPasswordPath" serializeAs="String">
                <value>..\\Files\\TempPassword.txt</value>
            </setting>
            <setting name="lateReturnsPath" serializeAs="String">
                <value>..\\Files\\LateReturns.txt</value>
            </setting>
            <setting name="checkedOutPath" serializeAs="String">
                <value>..\\Files\\CheckedOut.txt</value>
            </setting>
            <setting name="loginReportPath" serializeAs="String">
                <value>..\\Files\\LoginReport.txt</value>
            </setting>
            <setting name="quickLoginPath" serializeAs="String">
                <value>..\\Files\\QuickLogin.txt</value>
            </setting>
        </SoftTopics.Properties.Settings>
    </userSettings>
</configuration>